/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root font family */
:root {
  font-family: "Inter", sans-serif;
}

/* Ensure html and body elements cover the full viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ani {
  width: 40vw; 
   background-size: cover;
  -webkit-background-position: center;
  background-position: center center;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(152, 71, 218, 0.5); /* Darker purple */

  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

/* Glow effect for dark mode (logo and icons) */
/* Glow effect for dark mode (logo and icons) */
.glow-dark, .icon-glow-dark {
  backdrop-filter: blur(3px); /* Stronger blur for dark mode */
  box-shadow: 
    0 10px 30px rgba(151, 151, 151, 0.2), /* Drop shadow */
    0 0 15px rgba(255, 255, 255, 0.7), /* Outer glow */
    0 0 30px rgba(255, 255, 255, 0.5), 
    0 0 45px rgba(255, 255, 255, 0.3); 
  transition: box-shadow 0.1s ease-in-out;
}

/* Glow effect for light mode (logo and icons) */
.glow-light, .icon-glow-light {
  backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.5), /* Drop shadow */
    0 0 15px rgba(0, 0, 0, 0.7), /* Outer glow */
    0 0 30px rgba(0, 0, 0, 0.5), 
    0 0 45px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in-out;
}


